#Skin .s2{border: 1px solid #fff;width: 8px;height: 8px;border-radius: 100%;}

/*框架配色修改*/
.header{background: #19a97b;}
.rt-col{background: #139667;border-bottom: 1px solid #128e61;}
.header .log span,.rt-col span{color: #f2fdf4;font-size: 10px;}
.header .log,.header .log a,.rt-col,.rt-col a{color: #f2fdf4;}
.header .log a:hover,.rt-col a:hover{color: #f2fdf4;}
#top_menu li a{color:#fff;}
#top_menu .on a,#top_menu li:hover a{background: #139667;color:#fff; }
#content .col-left{background: #f9f9f9;border-right: 1px solid #dbdbdb;}
#leftMain .f14{background: #f9f9f9;color: #333;border-left:4px solid #19aa8d; font-weight: bold;border-bottom: 1px #e9e9e9 solid;border-top: 1px #e9e9e9 solid;}
.crumbs{background: #f9f9f9}
#leftMain ul li{border-bottom: 1px #e9e9e9 dotted;}
#leftMain ul li a{display: block;color: #555555;}
#leftMain ul .on a, #leftMain ul li:hover a {display: block;color: #f9f9f9;background: #139667;}
#leftMain i {color: #f9f9f9;}
#leftMain .on i {color: #f9f9f9;}
.logo a:before,.logo a:after{color: #fff;}
.content-menu a,.tabBut li{background: #fff;color: #19a97b;border: 1px solid #19a97b;}
.tabBut li a{color: #19a97b;}
.content-menu .on,.tabBut .on,.content-menu a:hover,.tabBut li:hover{background: #19a97b;color:#fff;border: 1px solid #19a97b;}
.tabBut li:hover a{color: #fff;}
.content-menu .add{color: #fff;border: 1px solid #3498db;background: #3498db;}

/*信息提示配色修改*/
body .showMsg{border: 1px solid #19a97b}
body .showMsg h5{background: #19a97b;color: #fff;}
body .showMsg .bottom a{color: #19a97b}
body .showMsg .guery:before{color:#3498db}

/*编辑器添加内容配色修改*/
.addContent .button {background: #19a97b}
.addContent .button:hover{background: #2b9674}

/*后台地图配色修改*/
.map-menu ul{border:1px solid #19a97b}
.map-menu ul li.title{background:#19a97b}

/*框架菜单按钮配色修改*/
.btn label, .btn a {background: #19a97b;color: #fff;border: 1px solid #19a97b;}

/*登入界面配色修改*/
#canvas{background:#16a085;}
.admin_login{box-shadow:0 -15px 30px #0c9076;}
.admin_title{color: #16a085;}
.admin_user:hover,.admin_pwd:hover,.admin_val:hover{border-color:#16a085}
.submit_btn{background: #16a085;color: #f3f3f3;}
.submit_btn:hover{background: #0c9076;color: #f3f3f3;}
.admin_info p{color: #16a085;}
.admin_user::before,.admin_pwd::before,.admin_val::before{color: #0c9076;}

/*弹出窗dialog修改为简单的DIV层*/
/*.aui_titleBar{background: #19a97b;}
.aui_title {color: #fff;}
.aui_close {color: #fff !important;}
.aui_footer button {color: #333333;background-color: #ffffff;border-color: #cccccc;}
.aui_footer button.aui_state_highlight {color: #ffffff;background-color: #19a97b;border-color: #19a97b;}
.aui_footer button.aui_state_highlight:hover,.aui_footer button.aui_state_highlight:focus,.aui_footer button.aui_state_highlight:active {color: #ffffff;background-color: #19a97b;border-color: #19a97b;}*/

.scroll{background: #f9f9f9;}
.scroll a{background:#19a97b;}

.cke_footer a{background: #19a97b;border: 1px solid #19a97b;}
.cke_footer a:hover{background: #2b9674;border: 1px solid #2b9674;}
#page_title_div .title{background: #19a97b;}